* {
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    background-image: url("images/patt.png");
}

header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

footer {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.col-md-4 {
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.col-md-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.col-md-8 {
    width: 67%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.col-md-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.col-md-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}


.row::after,
.menu::after,
.breadcrumbs::after {
    content: "";
    display: block;
    clear: both;
}

.menu>li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
    position: relative;

}

.menu:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
}

.menu>li>a:hover {
    color: white;
    background-color: #2c71b8;
}

.dropdown {
    position: relative;
    display: block;
}

li.dropmenu:hover>a {
    color: white;
    background-color: #2c71b8;
}

.submenu {
    width: 202.5%;
    position: absolute;
    margin-left: -1px;
    display: none;
}

.submenu>li>a {
    text-align: left;
    padding-left: 30px;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: white;
    background-color: #2c71b8;
}

.submenu>li>a:hover {
    color: #2c71b8;
    background-color: white;
}

.menu>li:hover .submenu {
    display: block;
}

.col-search-block {
    width: 70%;
    padding-top: 4px;
    padding-left: 15px;
    float: left;
}

.col-basket-block {
    width: 30%;
    padding-top: 4px;
    padding-left: 15px;
    float: left;
}

::-webkit-input-placeholder {
    color: #2c71b8;
    font-family: "Roboto",
        sans-serif;
    font-size: 21px;
    font-weight: 300;
}

.search {
    border: 1px solid #2c71b8;
    position: relative;
}

.search-field {
    height: 40px;
    max-width: 80%;
    border: none;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 5px;
}

.search-button {
    background-color: #2c71b8;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.basket-button {
    position: relative;
    display: block;
    background-image: url("images/basket_blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 15px;
}

.counter {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    color: white;
    background-color: #2c71b8;
    font-size: 12px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-top: 4px;
}

.slider-block>div {
    padding: 150px 75px;
   
}

.slide {
    width: 1170px;
    background-color: rgba(35, 90, 147, 0.5);
     border-bottom: 1px solid white;
}

.slide-text {
    font-size: 100px;
    letter-spacing: 10px;
    color: #ffffff;
    opacity: 0.9;
    font-weight: 250;
    font-family: "Roboto";
    text-align: center;
}
.slick-prev {
    left: -15px;   
}
.slick-next {
    right: 15px;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: white;
}

.slick-dots {
    padding-bottom: 25px;
}
.slick-dots li button {    
    width: 10px;
    height: 10px;    
    border: 1px solid rgba(163, 156, 156, 0.75);    
    
}

.slick-dots li button:active {
    background-color: white;
    
}
.slick-dots li button:hover {
    background: white;
    }
.slick-dots li button:before {
    content: none;
}

.filter-by-options {
    border-right: 1px solid white;
    background-color: rgba(255, 255, 255, 0.25);
    padding-bottom: 15px;
}

.options {
    padding-top: 25px;
    padding-left: 25px;
}

.option-name {
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
}

.option-items {
    list-style: none;
}

label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    margin-left: -10px;
    margin-right: 10px;
}

input[type="checkbox"]:checked+label::before {
    background-color: white;
}

input[type="checkbox"] {
    display: none;
}

.option-items>li {
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
}

.option-item {
    position: relative;
    display: block;
}

.option {
    position: absolute;
    left: 25px;
    top: -14px;
}

.show-more-options {
    text-align: center;
    margin-bottom: 25px;
}

.submit-btn {
    background-color: rgb(255, 255, 255);
}

#submit {
    background-color: rgba(35, 90, 147, 0.5);
}

.breadcrumbs>li {
    float: left;
    margin-top: 25px;
}

.breadcrumbs a {
    text-decoration: none;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
}

.breadcrumbs span {
    text-decoration: underline;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
}

.product-type {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.sort-by {
    display: block;
    padding-left: -30px;
    padding-right: -30px;
    width: 272px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    border: 1px solid white;
}

.products {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid white;
}

.product-images {
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    padding: 40px;
    position: relative;
    display: block;
}

.product-image {
    display: block;
    margin: 0px auto;

}

.zoom {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    background-image: url("images/zoom_blue.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;

}

.zoom:hover {
    background-image: url("images/zoom_white.png");
    background-color: #2c71b8;
}

.like {
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: transparent;
    background-image: url("images/like_blue.png");
    background-repeat: no-repeat;
    background-position: center;
    /* display: block; */
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    cursor: pointer;
}

.like:hover,
.liked {
    background-image: url("images/like_white.png");
    background-color: #2c71b8;
}

.product-body {
    background-color: #2c71b8;
    color: white;
    padding-bottom: 15px;
}

.product-title {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 15px;
}

.product-descritpion,
.product-feachers {
    padding-top: 10px;
    padding-left: 15px;
    line-height: 25px;
    font-size: 21px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}

.product-feachers {
    line-height: 35px;
}

.product-feachers span {
    text-transform: uppercase;
    font-weight: 700;
}

.product-price {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.product-price span {
    vertical-align: super;
    font-size: 30px;
}
.products-quantity { 
    padding-bottom: 20px;    
    text-align: center;    

}

.quantity-input {
    width: 110px;
    height: 45px;
    text-align: center;
    line-height: 35px;
    
}
.increment-button,
.decrement-button {
   width: 45px;
   height: 45px;
}

.btn {
    display: block;
    width: 210px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid white;

}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
}

.btn-add-to-cart {

    background-image: url("images/basket-white.png");
    background-repeat: no-repeat;
    background-position-x: 175px;
    background-position-y: center;
    text-align: left;
    padding-left: 20px;

}

.load-more {
    display: block;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;

}

.modal {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal-block {
    width: 300px;
    height: 200px;
    margin: 80px auto;
    border: 1px solid grey;
    padding: 15px;
    background-color: white;
}

.form-field {
    margin: 10px 0;
}

.btn-close {
    text-align: right;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

